# Splitting Data Into Train And Test

The dataset is already download in .csv format

# IMPORTING THE PACKAGE

In [2]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Load the dataset

In [3]:
df=pd.read_csv("D:/riyas/Project Development phase/Sprint 1/Data Collection/loan_prediction.csv")

In [4]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
df.shape

(614, 13)

# Handle the Missing values

In [6]:
#checking the null values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Treating the Null Value

We will fill the missing values in numeric data type using the mean value of that particular column and categorical data type using the most repeated value

In [7]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [8]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [9]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [10]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [11]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [12]:
#replace + with non value 
df['Dependents'] = df['Dependents'].str.replace('+','')

In [13]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [14]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [15]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])

In [16]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [17]:
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [18]:
#checking the null values now
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Now the null value is retreated

# Handling Categorical Values

In [19]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [20]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [21]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [22]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [23]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [24]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [25]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [26]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [27]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [28]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [29]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [30]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [31]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [32]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [33]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [34]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [35]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [36]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

# Balancing The Dataset

In [37]:
from imblearn.combine import SMOTETomek

In [38]:
smote = SMOTETomek(0.90)

In [39]:
#dividing the dataset into dependent and independent y and x respectively

y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [40]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [41]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    361
0    318
Name: Loan_Status, dtype: int64

# Scaling The Data

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [44]:
x_bal = pd.DataFrame(x_bal)

In [45]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.769909,0.532498,-1.208365,-0.703995,0.598331,-0.319801,0.033544,-0.475375,-0.338536,0.30089,0.582452,1.32215
1,-1.764136,0.532498,0.827565,0.362998,0.598331,-0.319801,-0.161120,-0.044491,-0.250930,0.30089,0.582452,-1.25017
2,-1.758363,0.532498,0.827565,-0.703995,0.598331,3.126944,-0.404527,-0.475375,-0.929873,0.30089,0.582452,1.32215
3,-1.752590,0.532498,0.827565,-0.703995,-1.671316,-0.319801,-0.468647,0.198381,-0.338536,0.30089,0.582452,1.32215
4,-1.746816,0.532498,-1.208365,-0.703995,0.598331,-0.319801,0.056763,-0.475375,-0.108571,0.30089,0.582452,1.32215

We will perform scaling only on the input values

# Splitting Data Into Train And Test

In [46]:
# splitting the data into training and testing set

from sklearn.model_selection import train_test_split

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [48]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(454, 12)
(454,)
(225, 12)
(225,)

In [49]:
x_train

,0,1,2,3,4,5,6,7,8,9,10,11
221,-0.251548,-1.877942,-1.208365,-0.703995,0.598331,-0.319801,0.241279,-0.475375,-0.338536,0.300890,0.582452,-1.25017
616,-1.244545,0.532498,0.827565,0.362998,-1.671316,-0.319801,-0.353786,0.680697,0.187097,-0.236832,-1.716879,-1.25017
664,0.204538,0.532498,0.827565,-0.703995,0.598331,-0.319801,2.207912,-0.475375,0.866039,0.300890,0.582452,-1.25017
319,0.412374,0.532498,-1.208365,-0.703995,0.598331,-0.319801,-0.393918,-0.475375,-0.875119,2.093295,0.582452,1.32215
84,-1.192586,0.532498,0.827565,1.429991,-1.671316,-0.319801,-0.206480,0.456969,-0.196177,-2.387718,0.582452,1.32215
...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1.279184,0.532498,-1.208365,-0.703995,0.598331,-0.319801,-0.502013,0.247813,-0.163325,0.300890,0.582452,0.03599
106,-1.030935,0.532498,0.827565,0.362998,0.598331,3.126944,0.750697,0.624694,0.099492,-2.387718,-1.716879,1.32215
270,0.060207,0.532498,0.827565,-0.703995,0.598331,-0.319801,-0.549373,0.134377,-0.688958,0.300890,0.582452,1.32215
435,1.249493,0.532498,0.827565,1.429991,0.598331,3.126944,0.356294,1.572181,3.603710,0.300890,0.582452,-1.25017
102,-1.054028,0.532498,0.827565,-0.703995,-1.671316,-0.319801,-0.204635,0.100090,0.471815,0.300890,0.582452,-1.25017

In [50]:
x_test

,0,1,2,3,4,5,6,7,8,9,10,11
646,0.181445,0.532498,0.827565,1.429991,0.598331,-0.319801,-0.423287,4.427501,1.873502,0.300890,-1.716879,0.03599
336,0.533612,-1.877942,-1.208365,-0.703995,0.598331,-0.319801,-0.635173,0.038943,-0.524697,0.300890,-1.716879,0.03599
63,-1.336917,0.532498,-1.208365,-0.703995,0.598331,-0.319801,-0.289205,-0.475375,-0.415191,2.093295,0.582452,1.32215
367,0.741448,-1.877942,0.827565,-0.703995,0.598331,-0.319801,0.679043,-0.475375,-0.338536,-1.491515,0.582452,0.03599
101,-1.059801,0.532498,0.827565,1.429991,0.598331,-0.319801,-0.411139,-0.475375,-0.765612,0.300890,0.582452,0.03599
...,...,...,...,...,...,...,...,...,...,...,...,...
227,-0.211135,-1.877942,-1.208365,-0.703995,0.598331,-0.319801,-0.368086,-0.475375,-1.324097,0.300890,0.582452,1.32215
480,1.567021,0.532498,0.827565,0.362998,0.598331,-0.319801,-0.591811,0.162379,-0.480895,0.300890,0.582452,-1.25017
9,-1.717950,0.532498,0.827565,0.362998,0.598331,-0.319801,1.108658,2.658534,2.169171,0.300890,0.582452,0.03599
22,-1.625578,0.532498,0.827565,-0.703995,0.598331,3.126944,0.604160,-0.475375,0.438963,0.300890,0.582452,0.03599
291,0.216084,0.532498,0.827565,1.429991,0.598331,-0.319801,-0.468647,0.190381,-0.283782,0.300890,0.582452,-1.25017

In [51]:
y_train

221    1
616    0
664    0
319    0
84     1
      ..
71     1
106    0
270    1
435    1
102    1
Name: Loan_Status, Length: 454, dtype: int64

In [52]:
y_test

646    0
336    0
63     0
367    1
101    1
      ..
227    1
480    1
9      0
22     1
291    1
Name: Loan_Status, Length: 225, dtype: int64